<!-- empty cart -->
<div class="p3" *ngIf="cartitems.length == 0">
<div class="container border border-primary m-5 p-5">
    <div class="row text-center">
        <div class="col">
            <img src="https://vividparts.com/site_assets/images/empty_cart.gif" width="200px" alt="" srcset="">
            <h3 class="mt-3">Your Cart is Empty</h3>
            <button routerLink="/" class="btn btn-primary">Shop Now</button>
        </div>
    </div>
</div>
</div>



<!-- Cart with content -->

<div class="p3"*ngIf="cartitems.length != 0">
<div class="conatainer">
    <div class="row">
        <div class="col">
            <table class="table border border-dark m-5">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of cartitems let i=index" >
                        <td>{{i+1}}</td>
                        <td>{{product.title}}</td>
                        <td><img src="{{product.image}}" width="100px" alt=""></td>
                        <td>{{product.description}}</td>
                        <td>${{product.price}}</td>
                        <td><i class="fa fa-trash text-danger"></i></td>
                    </tr>
                </tbody>
            </table>
            <div style="float:right ;" class="mb-3">
                <button class="btn btn-danger">Empty Cart</button> &nbsp;
                <button class="btn btn-warning">View More</button> &nbsp;
                <button class="btn btn-success">Check Out</button> &nbsp;
                <b class="me-3">Grand Total:500</b>
            </div>
        </div>
    </div>
</div>
</div>
