<div class="container">
    <div class="row">
        <div class="col text-center mt-5">
            <h1 class="text-center mt-5 " style="font-size: 80px;">404</h1>
            <img class="
            " src="https://th.bing.com/th/id/R.6857245a2b92fe83ca7e2080f2676fe1?rik=LS%2fCO%2fAjUxruWA&riu=http%3a%2f%2fcdn.lowgif.com%2ffull%2fd43c59f75b4abcf5-31-cool-light-bulb-gif-transparent-best-blinking-christmas-light.gif&ehk=h2IKQwzngXr%2ftq3lo141Hk%2bV12cI%2fw8jFD4Q3hpQHDk%3d&risl=&pid=ImgRaw&r=0" alt="">
            <h3 class="mt-4">Page Not Found</h3>
            <h5>Lokks like you're lost</h5>
            <p>We are sorry, But the page you are looking for does not exist</p>
        </div>
    </div>
</div>
