/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Lobster&family=Righteous&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
body{
    font-family: 'Abril Fatface', cursive;
}

.card-img-top:hover{
    /* scale: 1.25; */
    transform: scale(1.25);
    transition: 0.6s;

}

.card-img-top{
    transition: 0.6s;
    height: 7cm;
    width: 6cm;
}

.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
.p1{
    margin-top: 100px;
}
.p2{
    margin-top: 100px;
}
.p3{
    margin-top: 100px;
}